.recipe-container {
    background-color: yellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.recipe {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    padding: 1em 2em;
}

img {
    width: 50%;
    height: 50%;
}

